<div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Авторизація</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                {% if login_error %}
                <div class="alert alert-danger">
                    {{ login_error }}
                </div>
                {% endif %}

                <form method="POST" action="/login/">
                    {% csrf_token %}

                    <p>Логін:</p>
                    <input type="text" name="username" class="form-control">

                    <p class="mt-2">Пароль:</p>
                    <input type="password" name="password" class="form-control">

                    <button class="btn btn-primary mt-3" type="submit">Увійти</button>
                </form>

            </div>

        </div>
    </div>
</div>
