<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Статичні файли</title>
</head>
<body>
<h1>Робота зі статичними файлами</h1>


<h2>Аудіо</h2>
<audio controls>
    <source src="/static/music/music.mp3" type="audio/mpeg">
    Ваш браузер не підтримує аудіо.
</audio>

<h2>Відео</h2>
<video width="400" controls>
    <source src="/static/video/video.mp4" type="video/mp4">
    Ваш браузер не підтримує відео.
</video>

<h2>PDF документ</h2>
<a href="/static/docs/example.pdf" target="_blank">Відкрити PDF</a>

</body>
</html>
